[Desktop Entry]
Encoding=UTF-8
Name=Link to Google
Type=Link
URL=https://www.google.com.pe/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
Icon=image-png
